<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Библиотека-Pandas" data-toc-modified-id="Библиотека-Pandas-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Библиотека Pandas</a></span></li><li><span><a href="#Раздел-1.-Создание-таблиц-из-коллекций" data-toc-modified-id="Раздел-1.-Создание-таблиц-из-коллекций-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Раздел 1. Создание таблиц из коллекций</a></span></li><li><span><a href="#Раздел-2.-Извлечение-данных-по-условию" data-toc-modified-id="Раздел-2.-Извлечение-данных-по-условию-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Раздел 2. Извлечение данных по условию</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Работа-с-набором-данных-Financial-Sample" data-toc-modified-id="Работа-с-набором-данных-Financial-Sample-3.0.1"><span class="toc-item-num">3.0.1&nbsp;&nbsp;</span>Работа с набором данных <em>Financial Sample</em></a></span></li><li><span><a href="#Извлечение-данных-по-условию" data-toc-modified-id="Извлечение-данных-по-условию-3.0.2"><span class="toc-item-num">3.0.2&nbsp;&nbsp;</span>Извлечение данных по условию</a></span></li></ul></li><li><span><a href="#Раздел-3.-Группировка-данных" data-toc-modified-id="Раздел-3.-Группировка-данных-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Раздел 3. Группировка данных</a></span></li></ul></li></ul></div>



# Библиотека Pandas

In [1]:
import pandas as pd

# Раздел 1. Создание таблиц из коллекций

<p style="font-size:125%; color:#119988; background-color:#transparen">Задание 1.1</p>

Имеется *серия*, содержащая числа от 10 до 1000. Какое число содержит элемент с индексом 175? Вычислите разность элементов с индексами 900 и 16.

In [4]:
# 1.1. Ваш код здесь
import pandas as pd

s = pd.Series(range(10,1001))

print(s.loc[175])
print(s.loc[900]-s.loc[16])

<p style="font-size:125%; color:#119988; background-color:#transparen">Задание 1.2</p>

Мебельная фабрика выпускает продукцию  наименований: диваны, кровати, трюмо. Создайте таблицу *DatаFrame*, содержащую: количество призведенной продукции каждого наименования, остаток на складе фабрики. Наименования разместите в строках, а количество и остаток в столбцах.

In [4]:
# 1.2. Ваш код здесь
import pandas as pd

fabric = pd.DataFrame({'Наименование':['Диваны', 'Кровати', 'Трюмо'],
                      'Количество': [12, 56, 45],
                      'Остаток': [3, 6, 12]})

fabric

  Наименование  Количество  Остаток
0       Диваны          12        3
1      Кровати          56        6
2        Трюмо          45       12

<p style="font-size:125%; color:#119988; background-color:#transparen">Задание 1.3</p>

Разделите столбец **car** таблицы **market** на два столбца: **mark** (марка) и **model** (модель).

```
market = pd.DataFrame({'car':['Lada Granta','Lada Vesta','Kia Rio','Hyunday Creta'], 
                       'year':[2019,2018,2010,2015], 
                       'condition':[75,104,20,90], 'km':[130000,210000,75000,94000]})
```

In [5]:
# 1.3. Ваш код здесь

import pandas as pd

market = pd.DataFrame({'car':['Lada Granta','Lada Vesta','Kia Rio','Hyunday Creta'], 
                       'year':[2019,2018,2010,2015], 
                       'condition':[75,104,20,90], 'km':[130000,210000,75000,94000]})

market[['mark', 'model']] = market['car'].str.split(' ', 1, expand= True)

print(market)

             car  year  condition      km     mark   model
0    Lada Granta  2019         75  130000     Lada  Granta
1     Lada Vesta  2018        104  210000     Lada   Vesta
2        Kia Rio  2010         20   75000      Kia     Rio
3  Hyunday Creta  2015         90   94000  Hyunday   Creta

C:\Users\Александр\AppData\Local\Temp\ipykernel_11324\4207415470.py:9: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  market[['mark', 'model']] = market['car'].str.split(' ', 1, expand= True)

<p style="font-size:125%; color:#119988; background-color:#transparen">Задание 1.4</p>

Имеются исторические данные о цене акции в виде таблицы DataFrame.

```
history=pd.DataFrame([[150,20,140,140],[140,31,152,150],
                     [147,17,180,164],[129,33,150,167]],
                     columns=['Open','Low','High','Close'],
                     index=['2020-12-07','2020-12-08','2020-12-09','2020-12-10'])
```
Найдите минимальную и максимальную цены закрытия, стандартное отклонение цены открытия, среднее значение самой низкой (Low) цены и медиану самой высокой (High) цены.

In [19]:
# 1.4. Ваш код здесь

import pandas as pd

history=pd.DataFrame([[150,20,140,140],[140,31,152,150],
                     [147,17,180,164],[129,33,150,167]],
                     columns=['Open','Low','High','Close'],
                     index=['2020-12-07','2020-12-08','2020-12-09','2020-12-10'])

print(f'min in CLose: {history["Close"].min()}')
print(f"max in CLose: {history['Close'].max()}")
print(f"std in Open: {history['Open'].std()}")
print(f"mean in Low: {history['Low'].mean()}")
print(f"median in High: {history['High'].median()}")

min in CLose: 140
max in CLose: 167
std in Open: 9.327379053088816
mean in Low: 25.25
median in High: 151.0

# Раздел 2. Извлечение данных по условию

### Работа с набором данных *Financial Sample*

In [2]:
with open('../Data/FinancialSampleFields.csv', encoding='utf-8') as f:
  content = f.readlines()
  content = [x.replace('\n','').split(';') for x in content]

pd.DataFrame(content[1:],columns = content[0])

                  Name                          Meaning
0              Segment                    Сегмент рынка
1              Country                           Страна
2              Product                        Сделано в
3         DiscountBand                    Группа скидок
4            UnitsSold                     Продано штук
5   ManufacturingPrice                Цена производства
6            SalePrice              Цена единицы товара
7           GrossSales                  Валовая продажа
8            Discounts                           Скидка
9                Sales          Стоимость партии товара
10                COGS  Себестоимость проданных товаров
11              Profit                          Прибыль
12                Date                             Дата
13         MonthNumber                      Месяц номер
14           MonthName                            Месяц
15                Year                              Год

### Извлечение данных по условию

Использование условий позволяет выбирать только отвечающие условиям данные.

Примеры:

`fs[fs['SalePrice']>90] # отобрать результаты, для которых цена продажи больше 90`

В результате операции сравнения в квадратных скобках создается список из *True* и *False*, который показывает, какие строки *DataFrame* нужно оставить, а какие убрать.

`fs[fs['Discounts']>fs['Discounts'].mean()] # результаты, для которых сумма скидок превышает среднюю сумму скидок`

Условия можно комбинировать, используя операторы **&** (логическое И) и | (логическое ИЛИ).

`fs[(fs['Discounts']>fs['Discounts'].mean()) & (fs['UnitsSold']<fs['UnitsSold'].mean())].sort_values('Country') # сумма скидок выше среднего, продано товара ниже среднего по выборке`

`fs[fs['Segment']=='Enterprise']['COGS'].mean() # найти среднюю себестоимость товаров промышленного (Enterprise) сегмента`

Проверьте приведенные примеры в своих ноутбуках.

<p style="font-size:125%; color:#119988; background-color:#transparen">Задание 2.1</p>

Загрузите этот набор данных в таблицу *DataFrame*. Какова сумма валовых продаж (GrossSales) товаров, произведеных *Amarilla* для малого бизнеса?

In [117]:
# 2.1. Ваш код здесь
import pandas as pd

# Взятие набора данных
with open('E:\Праводелов А.С БИ2102\Анализ данных\Data\FinancialSample3.csv', encoding='utf-8') as table:
  content = table.readlines()
  content = [x.replace('\n','').split(';') for x in content]

data = pd.DataFrame(content[1:],columns = content[0])
filterData = data[(data['Product'] == 'Amarilla') & (data['Segment'] == 'Small Business')] # поиск условия

resTable = filterData['GrossSales'].sum() # подсчет суммы значений

resTable

'77700.0330300.0574800.0375000.0411600.0738000.0190500.0897900.0255900.0266400.0742500.0163800.0'

<p style="font-size:125%; color:#119988; background-color:#transparen">Задание 2.2</p>

Определите среднюю стоимость производства (ManufacturingPrice) товаров, выпущенных для Мексики стоимостью (SalePrice) выше, чем стоимость 70% товаров.

In [115]:
# 2.2. Ваш код здесь

import pandas as pd

data = pd.read_csv('E:\Праводелов А.С БИ2102\Анализ данных\Data\FinancialSample3.csv', encoding='utf-8', sep=';')

dataQuant = data['SalePrice'].quantile(0.7)
filterData = data[(data['Country'] == 'Mexico') & (data['SalePrice'] > dataQuant)]

resData = filterData['ManufacturingPrice'].mean()

resData

103.23188405797102

<p style="font-size:125%; color:#119988; background-color:#transparen">Задание 2.3</p>

Найдите минимальную цену производства товара правительственого сегмента, для которого цена продажи ниже цены производства.

In [1]:
# 2.3. Ваш код здесь
import pandas as pd

data = pd.read_csv('E:\Праводелов А.С БИ2102\Анализ данных\Data\FinancialSample3.csv', encoding='utf-8', sep=';')

filterData = data[(data['Segment'] == 'Government') & (data['ManufacturingPrice'] > data['SalePrice'])]
filterData['ManufacturingPrice'].min()

filterData

,Id,Segment,Country,Product,DiscountBand,UnitsSold,ManufacturingPrice,SalePrice,GrossSales,Discounts,Sales,COGS,Profit,Date,MonthNumber,MonthName,Year
21,22,Government,Mexico,Paseo,None,883.0,10.0,7.0,6181.0,0.00,6181.00,4415.0,1766.00,2014-08-01,8.0,August,2014.0
25,26,Government,United States of America,Paseo,None,1143.0,10.0,7.0,8001.0,0.00,8001.00,5715.0,2286.00,2014-10-01,10.0,October,2014.0
31,32,Government,Mexico,Velo,None,1493.0,120.0,7.0,10451.0,0.00,10451.00,7465.0,2986.00,2014-01-01,1.0,January,2014.0
44,45,Government,Canada,VTT,None,1817.0,250.0,20.0,36340.0,0.00,36340.00,18170.0,18170.00,2014-12-01,12.0,December,2014.0
48,49,Government,France,Amarilla,None,1899.0,260.0,20.0,37980.0,0.00,37980.00,18990.0,18990.00,2014-06-01,6.0,June,2014.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
672,673,Government,Mexico,Paseo,High,2535.0,10.0,7.0,17745.0,2661.75,15083.25,12675.0,2408.25,2014-04-01,4.0,April,2014.0
688,689,Government,Canada,VTT,High,865.5,250.0,20.0,17310.0,2596.50,14713.50,8655.0,6058.50,2014-07-01,7.0,July,2014.0
690,691,Government,United States of America,VTT,High,267.0,250.0,20.0,5340.0,801.00,4539.00,2670.0,1869.00,2013-10-01,10.0,October,2013.0
694,695,Government,France,VTT,High,293.0,250.0,20.0,5860.0,879.00,4981.00,2930.0,2051.00,2014-12-01,12.0,December,2014.0
698,699,Government,Canada,Paseo,High,723.0,10.0,7.0,5061.0,759.15,4301.85,3615.0,686.85,2014-04-01,4.0,April,2014.0

<p style="font-size:125%; color:#119988; background-color:#transparen">Задание 2.4</p>

Какова средняя цена товара, стоимость производства которого ниже средней?

In [12]:
# 2.4. Ваш код здесь

import pandas as pd

data = pd.read_csv('E:\Праводелов А.С БИ2102\Анализ данных\Data\FinancialSample3.csv', encoding='utf-8', sep=';')

srZnach = data['ManufacturingPrice'].mean()
print(f"srednee znachenie: {srZnach}")
nigeSrednego = data[data['ManufacturingPrice'] < data['ManufacturingPrice'].mean()]
nigeSrednego

srednee znachenie: 90.72071428571428

,Id,Segment,Country,Product,DiscountBand,UnitsSold,ManufacturingPrice,SalePrice,GrossSales,Discounts,Sales,COGS,Profit,Date,MonthNumber,MonthName,Year
0,1,Government,Canada,Carretera,None,1618.5,3.0,20.0,32370.0,0.00,32370.0,16185.0,16185.000,2014-01-01,1.0,January,2014.0
1,2,Government,Germany,Carretera,None,1321.0,3.0,20.0,26420.0,0.00,26420.0,13210.0,13210.000,2014-01-01,1.0,January,2014.0
2,3,Midmarket,France,Carretera,None,2178.0,3.0,15.0,32670.0,0.00,32670.0,21780.0,10890.000,2014-06-01,6.0,June,2014.0
3,4,Midmarket,Germany,Carretera,None,888.0,3.0,15.0,13320.0,0.00,13320.0,8880.0,4440.000,2014-06-01,6.0,June,2014.0
4,5,Midmarket,Mexico,Carretera,None,2470.0,3.0,15.0,37050.0,0.00,37050.0,24700.0,12350.000,2014-06-01,6.0,June,2014.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1390,1391,Enterprise,Mexico,VTT,Low,2243.0,75.0,127.5,16870.0,14.17,5464.0,11809.0,2859.825,2014-12-08,12.0,December,2014.0
1391,1392,Government,Egypt,VTT,Low,2616.0,75.0,127.5,19238.0,14.17,21879.0,13466.6,3335.400,2014-08-06,8.0,August,2014.0
1397,1398,Enterprise,Albania,Velo,Medium,2756.0,73.0,124.1,17624.0,13.79,15757.0,12336.8,3420.196,2014-04-20,4.0,April,2014.0
1398,1399,Enterprise,Mexico,Nice,Green,2060.0,64.0,108.8,19143.0,12.09,21038.0,13400.1,2241.280,2014-11-10,11.0,November,2014.0
1399,1400,Enterprise,Mexico,Paseo,Green,2922.0,58.0,98.6,19885.0,10.96,1793.0,13919.5,2881.092,2014-10-16,10.0,October,2014.0

<p style="font-size:125%; color:#119988; background-color:#transparen">Задание 2.5</p>

Во сколько раз средняя себестоимость (COGS) товаров промышленного сегмента (Enterprize) отличается от средней себестоимости товаров малого бизнеса?

In [20]:
# 2.5. Ваш код здесь

import pandas as pd

data = pd.read_csv('E:\Праводелов А.С БИ2102\Анализ данных\Data\FinancialSample3.csv', encoding='utf-8', sep=';')

data_Enterpise = data[data['Segment'] == 'Enterprise']
data_SmallBuisness = data[data['Segment'] == 'Small Business']

mean_Enterpise = data_Enterpise['COGS'].mean()
mean_SmallBuisness = data_SmallBuisness['COGS'].mean()

difference = mean_Enterpise/mean_SmallBuisness
print(f'Себестоимость промышленного сегмента отличается от малого бизнеса в {difference} раз')

111395.9942105263
194919.7717821782
Себестоимость промышленного сегмента отличается от малого бизнеса в 0.5714966377808545 раз

<p style="font-size:125%; color:#119988; background-color:#transparen">Задание 2.6</p>

Какова суммарная прибыль всех сделок в правительственном сегменте, заключенных компаниями Carretera и Paseo?

In [28]:
# 2.6. Ваш код здесь

import pandas as pd

data = pd.read_csv('E:\Праводелов А.С БИ2102\Анализ данных\Data\FinancialSample3.csv', encoding='utf-8', sep=';')

segment_Carretera = data[(data['Segment'] == 'Government') & (data['Product'] == 'Carretera')]
profit_Carretera = segment_Carretera['Profit'].sum()

segment_Paseo = data[(data['Segment'] == 'Government') & (data['Product'] == 'Paseo')]
profit_Paseo = segment_Paseo['Profit'].sum()

profit = profit_Carretera + profit_Paseo
print(f'Общая прибыль: {profit}')

1442659.3619999997
3086326.6829999997
Общая прибыль: 4528986.045

## Раздел 3. Группировка данных

<p style="font-size:125%; color:#119988; background-color:#transparen">Задание 3.1</p>

Сколько разных систем скидок представлено в таблице?

In [38]:
# 3.1. Ваш код здесь

s = data['DiscountBand'].value_counts()
res = len(s)
res

6

<p style="font-size:125%; color:#119988; background-color:#transparen">Задание 3.2</p>

Какая из систем скидок применяется реже всего?

In [50]:
# 3.2. Ваш код здесь

s = data['DiscountBand'].value_counts()

nameID = s.idxmin()
count = s.min()

print(f'Система скидок {nameID} применяется реже всего, а количество ее применений составляет {count}')

Система скидок None применяется реже всего, а количество ее применений составляет 53

<p style="font-size:125%; color:#119988; background-color:#transparen">Задание 3.3</p>

Сколько раз представлены в выборке разные страны?

In [48]:
# 3.3. Ваш код здесь

country = data['Country'].value_counts()
country

Germany                     233
Mexico                      233
United States of America    226
Canada                      213
France                      140
Egypt                        97
Pakistan                     92
Finland                      88
Albania                      78
Name: Country, dtype: int64

<p style="font-size:125%; color:#119988; background-color:#transparen">Задание 3.4</p>

Разбейте значения столбца себестоимости (COGS) для Канады на шесть интервалов.

In [58]:
# 3.4. Ваш код здесь

country = data[data['Country'] == 'Canada']
pd.cut(country['COGS'], bins=6)

0         (335.66, 159508.333]
7         (335.66, 159508.333]
11      (317731.667, 475955.0]
14        (335.66, 159508.333]
16        (335.66, 159508.333]
                 ...
1327      (335.66, 159508.333]
1341      (335.66, 159508.333]
1356      (335.66, 159508.333]
1360      (335.66, 159508.333]
1371      (335.66, 159508.333]
Name: COGS, Length: 213, dtype: category
Categories (6, interval[float64, right]): [(335.66, 159508.333] < (159508.333, 317731.667] < (317731.667, 475955.0] < (475955.0, 634178.333] < (634178.333, 792401.667] < (792401.667, 950625.0]]

<p style="font-size:125%; color:#119988; background-color:#transparen">Задание 3.5</p>

Разбейте значения столбца себестоимости (COGS) для Канады на шесть интервалов.

In [8]:
# 3.5. Ваш код здесь

country = data[data['Country'] == 'Canada']
pd.cut(country['COGS'], bins=6)